**/*.svg
package.json
/dist
/config
src/.tmp
.dockerignore
.DS_Store
.eslintignore
tsconfig.json
babel.config.js
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/.history
